
.icon-user:before { content: '\21'; } /* '!' */
.icon-lock:before { content: '\22'; } /* '&quot;' */
.icon-reply-all:before { content: '\23'; } /* '#' */
.icon-right-circled:before { content: '\24'; } /* '$' */
.icon-phone:before { content: '\25'; } /* '%' */
.icon-mobile:before { content: '\26'; } /* '&amp;' */
.icon-ok:before { content: '\27'; } /* ''' */
.icon-left-big:before { content: '\28'; } /* '(' */
.icon-facebook:before { content: '\29'; } /* ')' */
.icon-gplus:before { content: '\2a'; } /* '*' */
.icon-twitter:before { content: '\2b'; } /* '+' */
.icon-twitter-squared:before { content: '\2c'; } /* ',' */
.icon-facebook-squared:before { content: '\2d'; } /* '-' */
.icon-mail:before { content: '\2e'; } /* '.' */