@font-face {
  font-family: 'fontello';
  src: url('../fonts/public/fontello/fontello.eot?21155624');
  src: url('../fonts/public/fontello/fontello.eot?21155624#iefix') format('embedded-opentype'),
       url('../fonts/public/fontello/fontello.woff2?21155624') format('woff2'),
       url('../fonts/public/fontello/fontello.woff?21155624') format('woff'),
       url('../fonts/public/fontello/fontello.ttf?21155624') format('truetype'),
       url('../fonts/public/fontello/fontello.svg?21155624#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
