@import "compass";
@import "public/bootstrap-custom";

@import "variables";
@import "compass/layout.scss";
@import "public/fonts-style";
@import "public/fonts/fontello/fontello";
@import "susy";
@include sticky-footer(50px, "#container", "#container_footer", "#footer");
$susy: (
  columns: 12,   // On indique à Susy d'utiliser 12 colonnes
  global-box-sizing: border-box   // Utiliser border-box
  );

// on inclut les propriétés border-box
@include border-box-sizing;
html,body{
	font-family: $typo-titre;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}
.container{
	margin: 0 20px;
	@include clearfix;
}
.site-content{
	padding-top: 66px;
}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/


.header{
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color: $couleur-white;
	background-color: $couleur-dark;
	z-index: 200;
}
.header__logo{
	font-weight: bold;
	padding: 0 25px;
	float: left;
}
/*------------------------------------*\
    $MENU
\*------------------------------------*/

.menu{
	float: left;
	text-transform: capitalize;
	a{
		padding: 010px;

	}
	a:hover{
		color: #c6ff00;
	}
}

/*------------------------------------*\
    $page header
\*------------------------------------*/

div.page-header{
	text-transform: uppercase!important;
	text-align: center;
	h1{
		text-align: center;
		letter-spacing: 0.5em;
		display: block;
		font-size: 2em;
		margin-bottom: 0px;
		line-height: 2em;
		font-weight: bold;
	}
	small{
			color: $couleur-grey;
			text-align: center;
			font-size: 1.3em;
		}
}
.home p{
	font-style: italic;
	font-size: 1.2em;
	font-family: $typo-texte;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

	footer{
		//background:rgba(0, 0, 0, 0.64);
		background-color:$couleur-dark;
		bottom:0px;
		margin-bottom: 0;
		text-align:center;
		color: $couleur-white;
		p{padding: 5px;

			font-size: .8em;
			font-weight: 400;
			font-style: italic;

		}
	}
/*------------------------------------*\
    $contact
\*------------------------------------*/
.website{
	visibility: hidden;

}
#ContactIndexForm{
//	padding-top:50px;
	fieldset div {
		label{
			text-transform: capitalize;
		}
	}
	fieldset div.required{
			label:after{
				color: #e32;
				content: ' *';
				display:inline;
		}
	}
}
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@import "responsive";


@media (min-width: 970px) {
	body{
		background: url(../img/canvas.png);
	}
	.header{
		border-bottom: 2px solid #f00;
		box-shadow: 0px 9px 13px 0px rgba(50,50,50,0.75);
	}
	nav.menu{
		@include container(960px);
	}
	.container{
		@include container(960px);

	}
	#container{
		background-color: $couleur-white;
		border-left: 2px solid #000;
		border-right: 2px solid #000;
		padding-left: 15px;
		padding-right: 15px;
		//box-shadow: $couleur-dark 0 0 50px, $couleur-dark 0 0 30px 10px inset;
		box-shadow: 3px 3px 76px -21px rgba(0,0,0,0.75);
	}
	.page-header{
		h1{
			margin-top: 0px;
			letter-spacing: 1.1em;
		}
	}
	.home p{
		font-style: italic;
		font-size: 1.2em;
		margin-left: 10em!important;
		line-height: 1.6em!important;
		margin-right: 10em;
		text-align: center;
	}
/*------------------------------------*\
    $CONTACT
\*------------------------------------*/

#ContactIndexForm{
	label{
		@include span(2);

	}
	.input-group{
		@include span(8 );
	}
	span.help-block.text-danger{
		color: #f00;
		@include span(8 );
	}
	textarea.form-control {
		@include span(8 );

	}
	.text-right{
		float: right;
		position: relative;
		top: -50px;
	}
	p i{
		color: #f00;
	//	@include span(9 last);
	}
}
	@import "public/bootstrap/wells";

}
